{% for item in items %}
	<a href="/catalog/{{item.unique_id}}/" class="item swiper-slide {{type}}" data-location="{{item.restaurant_location[0].id}}" data-rat="{{item.restaurant_rating}}">
        <div class="item_img">
            <img src="{{item.images[0].subpath}}=rw" loading="lazy" alt="{{img_alt | replace({"**room**" : item.name}) | replace({"**restaurant**" : item.restaurant_name}) | replace({"**room_name**" : item.name}) }}"/>
            {% if item.images[1] %}
                <img class="item_img_subimg" loading="lazy" src="{{item.images[1].subpath}}=rw" alt="{{img_alt | replace({"**room**" : item.name}) | replace({"**restaurant**" : item.restaurant_name}) | replace({"**room_name**" : item.name}) }} 2"/>
            {% endif %}
        </div>
        <div class="item_info">
            <div class="item_info_top">
                <p class="item_name">{{item.name}}</p>

{#                {% if type != 'other' %}#}
                    <p class="item_parent_name">{{item.restaurant_name}}</p>
                    <p class="item_address">{{item.restaurant_address}}</p>
{#                {% endif %}#}
                    
                <div class="item_meta">

                    {% if item.capacity %}
                        <div class="item_meta_item">
                            <span class="item_meta_label">Вместимость: </span><span class="item_meta_text">{{item.capacity}} чел.</span>
                        </div>
                    {% endif %}

                    {% if item.restaurant_own_alcohol != 'Нельзя свой алкоголь' %}
                        <div class="item_meta_item">
                            <span class="item_meta_label">Алкоголь: </span><span class="item_meta_text">за доп. плату</span>
                        </div>
                    {% endif %}

                    {% if item.price %}
                        <div class="item_meta_item">
                            <span class="item_meta_label">Стоимость: </span><span class="item_meta_text">от <span class="rur">{{item.price}} <span class="norur">руб.</span></span>/чел.</span>
                        </div>
                    {% endif %}

                    {% if item.restaurant_parking %}
                        <div class="item_meta_item">
                            <span class="item_meta_label">Парковка: </span><span class="item_meta_text">на {{item.restaurant_parking}} машин</span>
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>
        <div class="item_flags">
            {% if item.restaurant_commission == 2 %}
                <div class="item_flag _gift">
                    <p>Подарок за бронирование</p>
                </div>
            {% endif %}
        </div>
    </a>
{% endfor %}