<div data-page-type="item">

    <div class="content_block" data-listing-title>
        {{ this.render('//components/generic/item_title.twig', {'seo':seo}) | raw }}
    </div>

    <div class="content_block" data-page-type="item">
        <div class="object_head">

            <div class="object_meta">
                <div class="object_meta_item">
                    <p class="object_meta_title">Банкетное меню</p>
                    <p class="object_meta_value">от <span>{{item.price}} ₽</span></p>
                </div>
                <div class="object_meta_block">
                    <div class="object_meta_item">
                        <p class="object_meta_title">Вместимость на банкет:</p>
                        <p class="object_meta_value">до <span>{{item.capacity}} персон</span></p>
                    </div>

                    {% if item.capacity_reception %}
                        <div class="object_meta_item">
                            <p class="object_meta_title">на фуршет:</p>
                            <p class="object_meta_value">до <span>{{item.capacity_reception}} персон</span></p>
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="object_gallery" data-gallery data-id="{{item.id}}">
                <div class="object_gallery_main" data-bigimg-wrapper>
                    <img src="{{ item.cover_url|replace({'w445-h302-n-l95': 'w710-h472-n-l95'}) }}"/>
                </div>
            </div>

            <div class="object_book">
                <p class="object_book_text">Узнать об актуальных акциях и забронировать можно по телефону:</p>
                <div class="object_book_hidden">
                    <p class="object_book_phone">
                        <span class="object_fake_phone">+7 xxx xxx-xx-xx</span>
                        <a href="tel:{{item.restaurants.phone}}" class="object_real_phone">{{item.restaurants.phone}}</a>
                    </p>
                    <div class="object_book_hidden_button" data-action="show_phone">Показать номер</div>
                </div>
                {#<p class="object_book_action">Забронируй Зал «Екатерининский» до 1 сентября 2019 и получи приятный подарок!</p>#}
            </div>

            <div class="object_parameters">

                {% if item.restaurants.own_alcohol != 'Нельзя свой алкоголь' or item.restaurants.firework %}
                    <div class="object_parameters_list _marked">
                        <p class="object_parameters_title">Разрешены</p>

                        {% if item.restaurants.own_alcohol != 'Нельзя свой алкоголь' %}
                            <p class="object_parameters_item">{{item.restaurants.own_alcohol}}</p>
                        {% endif %}

                        {% if item.restaurants.firework %}
                            <p class="object_parameters_item">Запуск фейерверка</p>
                        {% endif %}
                    </div>
                {% endif %}

                <div class="object_parameters_list _marked">
                    <p class="object_parameters_title">Что на территории</p>

                    {% if item.restaurants.cuisine %}
                        <p class="object_parameters_item">{{item.restaurants.cuisine}} кухня</p>
                    {% endif %}
                    {% if item.restaurants.parking %}
                        <p class="object_parameters_item">{{item.restaurants.parking}}</p>
                    {% endif %}
                    {% if item.restaurants.special %}
                        {% set specials = item.restaurants.special|split(',') %}
                        {% for special in specials %}
                            <p class="object_parameters_item">{{special}}</p>
                        {% endfor %}
                    {% endif %}
                </div>

                {% if item.restaurants.payment %}
                    <div class="object_parameters_list">
                        <p class="object_parameters_title">Оплата</p>
                        <p class="object_parameters_item">{{item.restaurants.payment}}</p>
                    </div>
                {% endif %}
                
            </div>

        </div>
    </div>

    <div class="map">
        <div id="map" data-mapDotX="{{item.restaurants.latitude}}" data-mapDotY="{{item.restaurants.longitude}}" data-balloon="" data-hint="">

        </div>
    </div>

    <div class="content_block">
        <div class="object_description">

        </div>

        {{ this.render('//components/generic/form.twig') | raw }}

    </div>

    {{ this.render('//components/generic/other_widjet.twig', {'items':other_rooms, 'restaurant_name':item.restaurants.name}) | raw }}

    {{similar_rooms | raw }}

</div>

<script defer src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>