{{ use('yii/widgets/Pjax') }}
{{ use('yii/widgets/ListView') }}

<div data-page-type="blog">

  <div class="content_block" data-blog-title>

		<h1>{{seo.h1}}</h1>
		
	</div>

  <div class="content_block items_list_blog" data-blog-wrapper>

		<div class="items_list" data-blog-list>

			{{  pjax_begin({'id' : 'blog-listing','enablePushState':false}) }}
			{{  list_view_widget(listConfig) }}
			{{  pjax_end()  }}

		</div>

	</div>

</div>